.product{
    a{
        text-align: center
    }
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 15px;
    width: 31%;
    min-height: 550px ;
}
.product__text{
    text-align: center;
    font-size: 25px;
    width: 80%;
}
.product__subtext{
    font-size: 20px;

}

.product__tagline{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.product__selected{
    border: 2px solid black;
}
.product__bottom{
    background-color: #ffd042;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    padding: 25px 0px 0 0px;
    gap: 15px;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1 1 50%

}
.product__img{ 
    position: relative;
    top: 0;
    left: 0%;
    width: 80%;
    height: 200px;
    padding: 20px;
    object-fit: contain;
    border-radius: 20px;
    transition: all ease 0.4s;
    cursor: pointer;
    &:hover{
        transform: scale(1.2);
    }
    
}

.product__img__loading{
    background: linear-gradient(101.42deg, #ffd042 -0.04%, rgba(252, 239, 48, 0.27) 94.2%);
    box-sizing: border-box;
    overflow: hidden;
    content:'';
    position: relative;
    top: 0;
    left: 0%;
    width: 80%;
    height: 30%;
    object-fit: contain;
    border-radius: 20px; 
}

.product__img__loading::before{
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #ff262617 50%, transparent 100%);
    animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}


.product__text__loading{
    background: linear-gradient(101.42deg, #ffd042 -0.04%, rgba(252, 239, 48, 0.27) 94.2%);
    box-sizing: border-box;
    overflow: hidden;
    content:'';
    position: relative;
    top: 0;
    left: 0%;
    width: 80%;
    height: 50%;
    object-fit: contain;
    border-radius: 20px; 
}

.product__text__loading::before{
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #ff262617 50%, transparent 100%);
    animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}



@keyframes load {
    from {
        left: -150px;
    }
    to   {
        left: 100%;
    }
}
@media(max-width: 800px){
    .product{
        width: 48%;
    }
}
@media(max-width: 600px){
    .product{
        width: 100%;
    }
}